
@{
    ViewBag.Title = "About";
}

<div class="jumbotron" style="background-color: ghostwhite; color:darkslategrey !important">
    <div class="container">
        <h1 style="text-align: center">About</h1>
        <br />
        <br />
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="~/images/airport.jpg" />
            </div>
            <div class="col-6">
                <h3>A brand you can trust</h3>
                <p>Turbo Wheels is Skopje's leading independent car rental company. Turbo Wheels
                is a name that people that visit Skopje frequently know and trust.</p>
                <h3>Low Cost Car Hire - without compromising on the service</h3>
                <p>Turbo Wheels stands for value and as such our prices are very competitive. We offer an affordable, 
                efficient service delivered in a friendly manner. Turbo Wheels have the experience and knowledge to make 
                your car rental experience in Skopje a pleasurable one.</p>
                <h3>Save money - book online</h3>
                <p>Out website has been taking online bookings since 2000. We aim to offer unbeatable car hire
                prices as well as giving you the facility to book your car in three easy steps. You can get a free quote 
                and book your car over a secure server. We also offer excellent competitions, and you can sign up to get 
                the latest special offers emailed direct to your inbox!</p>
            </div>
        </div>
    </div>
</div>