@{
    ViewBag.Title = "Final step";
}

<style>
    .final-step-card {
        max-width: 480px;
        width: 100%;
        background: white;
        border-radius: 12px;
        box-shadow: 0 6px 18px rgba(21, 24, 30, 0.08);
        padding: 1.5rem;
    }

    a {
        font-size: 21px;
    }
</style>

<div class="d-flex justify-content-center align-items-center bg-light px-3 py-4">
    <div class="d-flex bg-white rounded shadow final-step-card">
        <div class="p-4 w-100 text-center">
            <h2 class="mb-4">Thank you for your reservation!</h2>

            <a href="~/Home/Index" class="btn btn-primary mt-4">
                Make another reservation
            </a>
        </div>
    </div>
</div>