
@{
    ViewBag.Title = "Final";
}

<div class="container" style="text-align:center">
    <br />
    <h1>Thank you for your reservation!</h1>
    <br />
    <a style="font-size: 21px" href="~/Home/Index">
        I want to make another reservation
    </a>
    <hr style="border-width: 5px" />
</div>


