@model Turbo_Wheels.Models.ViewModels.LoggedInViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<style>
    .login-image {
        height: 100%;
        object-fit: cover;
    }

    .login-card {
        max-width: 900px;
        width: 100%;
    }

    .validation-summary-errors ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }
</style>

<script>
    // Clear validation error on password input change
    $(document).ready(function () {
        $('input[type="password"]').on('input propertychange paste', function () {
            $('.validation-summary-errors').empty();
        });
    });

    // Form submission validation
    $('input:submit').click(function (e) {
        if (!$.validate())
            e.preventDefault();
    });
</script>

<div class="d-flex justify-content-center align-items-center vh-100 bg-light px-3">
    <div class="d-flex bg-white rounded shadow login-card">
        <div class="p-4 w-100">
            <div class="container">
                <h1 class="mb-4 text-center">TURBO WHEELS</h1>

                <div class="row gy-4">
                    <div class="col-12 col-md-6 p-0">
                        <img src="~/images/img-01.png" class="img-fluid login-image rounded-start" />
                    </div>

                    <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                        @using (Html.BeginForm())
                        {
                            <h3>User Login</h3>

                            <div class="mt-3 mb-3">
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", required = "required", @placeholder = "Username" })
                            </div>

                            <div>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "required", @placeholder = "Password" })
                            </div>

                            <div class="text-danger validation-summary-errors mt-2">
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            </div>

                            <input type="submit" value="Log In" class="btn btn-success px-4 mt-4" />

                            <div class="mt-3">
                                New to Turbo Wheels? @Html.ActionLink("Create your Account", "Register", "Home")
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>